<h4>Details</h4>
<table>
  <tr>
    <th>Average</th>
    <td><%= @average_glucose %></td>
  </tr>
  <tr>
    <th>Maximum</th>
    <td><%= @max_glucose %></td>
  </tr>
  <tr>
    <th>Minimum</th>
    <td><%= @min_glucose %></td>
  </tr>
</table>